.image-container {

    position:relative;
    float: left;
    height: 150px;
    width: 150px;

    margin: 3px;

}

.image-container .image {

    width: 100%;
    height: 100%;

}

.img-actions {

    position: absolute;
    top: 0px;
    padding-top: 2px;
    height: 20px;
    background: lawngreen;
    width: 100%;

}

.cover {
    border: 2px solid black;
}

.icon {
    margin-right: 10px;
}

#login {

    position: relative;
    width: 500px;
    height: auto;

    margin: 0 auto;

    text-align: center;

}