<div class="image-container" ng-repeat="img in entry.values.images" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">

    <div class="img-actions" ng-show="hovered">
        <span class="glyphicon glyphicon-remove-sign pull-right icon" ng-click="removeImage(img.name)"></span>
        <span class="glyphicon glyphicon-picture pull-right icon"></span>
    </div>

    <img class="image" ng-class="{cover: entry.values.cover == img.name}" src="http://104.131.113.114:3001/api/containers/{{ img.container }}/download/{{ img.name }}" alt=""/>

</div>
