<div class="input-group">
    <input type="text"  ng-model="value" placeholder="{{ placeholder }}" class="form-control pull-right"></input>

    <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
</div>