<input type="text" name="subdomain" ng-model="subdomain"/>
<button class="btn btn-default" ng-show="!hasSubdomain" ng-click="addSubdomain()">Agregar</button>
<button class="btn btn-default" ng-show="hasSubdomain" ng-click="editSubdomain()">Editar</button>
<h5>El subdominio debe ser único e irrepetible. </h5>
<h5>Por ahora no se puede editar</h5>
