<div id="login" ng-controller="UserController">

    <h1>Login</h1>

    <h4>email: admin@club.az</h4>
    <h4>password: admin</h4>

    <form style="margin-top:25px;">
        <input type="text" ng-model="user.email" placeholder="Ingrese su email"/>
        <input type="text" ng-model="user.password" placeholder="Ingrese su password"/>
        <input type="checkbox" ng-model="rememberMe"/>

        <button ng-click="login()">Ingresar</button>
    </form>

</div>